In [103]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime as dt
import yfinance as yf
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
import seaborn as sns

In [104]:
from fredapi import Fred
fred = Fred(api_key = 'ec682064ba501918755568565884325e')
start_date = ('01/01/2000')
end_date = ('12/31/2017')

eco_unc = pd.Series((fred.get_series('WLEMUINDXD', start_date, end_date)), name = 'eco_unc')
tbill = pd.Series((fred.get_series('DTB3', start_date, end_date)), name = 'tbill')
wti = pd.Series((fred.get_series('DCOILWTICO', start_date, end_date)), name = 'wti')
effr = pd.Series((fred.get_series('EFFR', start_date, end_date)), name = 'effr')

In [105]:
data = pd.concat([eco_unc, tbill, wti, effr], axis =1).dropna()
len(effr)

4565

In [106]:
st_date = dt.datetime(2000, 1, 1)
ed_date = dt.datetime(2017, 12, 31)
SNP500 = yf.download('^GSPC', st_date, ed_date)
SNP500 = SNP500['Adj Close'].to_frame()
SNP500.fillna(method = 'bfill', inplace=True)
SNP500['SMA 5'] = SNP500['Adj Close'].rolling(5).mean()
SNP500['SMA 200'] = SNP500['Adj Close'].rolling(200).mean()
conditions = [SNP500['SMA 5'] >= SNP500['SMA 200'],
              SNP500['SMA 5'] < SNP500['SMA 200']]
choices = [1, 0]
SNP500['outcome'] = np.select(conditions, choices, 0)
# SNP500 = SNP500['outcome'].dropna()

[*********************100%***********************]  1 of 1 completed

In [107]:
features = pd.merge(data, SNP500, left_index = True, right_index = True).dropna()
X = features[['eco_unc', 'tbill', 'wti', 'effr']] 
y = features['outcome']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.999, random_state=911)

In [101]:
vif = pd.DataFrame()
vif["ft"] = data.columns
vif["VIF"] = [variance_inflation_factor(data.values, i)
                         for i in range(len(data.columns))]
vif

        ft         VIF
0  eco_unc    1.292640
1    tbill  104.428563
2      wti    1.511427
3     effr  107.554187

In [102]:
log_regression = LogisticRegression()
log_regression.fit(X_train,y_train)

y_pred = log_regression.predict(X_test)

print('score', log_regression.score(X_test, y_test))   #Return the mean accuracy on the given test data and labels.

from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

score 0.756200280767431
              precision    recall  f1-score   support

           0       0.62      0.66      0.64      1390
           1       0.83      0.80      0.82      2884

    accuracy                           0.76      4274
   macro avg       0.72      0.73      0.73      4274
weighted avg       0.76      0.76      0.76      4274

In [109]:
features.to_csv('features.csv')